@media (max-width: 768px) {
    app-upper-menu {
        overflow-x: auto
    }
    
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    
    .mat-drawer-content {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    mat-toolbar {
        overflow-x: scroll;
        width: 100vw !important;
        min-width: 100vw !important;
    }
    
    mat-toolbar div {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    mat-grid-tile {
        position: relative !important;
    }
    
    mat-grid-list > div {
        display: flex !important;
        flex-direction: column;
    }
    
    /* Main menu */
    mat-grid-list div mat-grid-tile:nth-child(1){
       width: 100vw !important; 
       z-index: 100;
       height: 140px !important;
       overflow-y: scroll;
        order: 1;
    }
    /*END*/
    
    /* RESOURCES */
    
    mat-grid-list div mat-grid-tile:nth-child(2){
       width: 100vw !important; 
       z-index: 100;
       height: 200px !important;
       left: 0px !important;
       order: 4;
    }
    
    mat-grid-list div mat-grid-tile:nth-child(2) .inventory-row div.d-flex{
        display: inline-block !important;
        overflow: hidden;
    }
    
    .inventory-row .ml-4{
            margin-left: 0px !important;
    }
    
    /*END*/
    
    /* News */

    mat-grid-list div mat-grid-tile:nth-child(3){
       width: 100vw !important; 
       z-index: 100;
       height: 0px !important;
       left: 0px !important;
       top: 0px !important;
    }
    
    /*END*/
    /* Main view */
    
    mat-grid-list div mat-grid-tile:nth-child(4){
       width: 100vw !important; 
       z-index: 100;
       height: 400px !important;
       left: 0px !important;
       top: 0px !important;
        order: 3;
    }
    
    mat-grid-list div mat-grid-tile:nth-child(4) .actions-grid-container {
        display: flex !important;  
        flex-direction: column;
    }
    mat-grid-list div mat-grid-tile:nth-child(4) .actions-grid-container .combat-log-button {
        position: relative !important;
        top: 0px !important;
        left: 0px !important;
        padding-bottom: 5px;
        width: 100vw;
        
    }
    
    app-quests {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    
    app-quests table {
        overflow-y: scroll;
    }
    
    app-quests tr td:nth-of-type(2), app-quests th:nth-of-type(2){
        padding-left: 24px !important;
    }
    
    app-quests tr th:first-of-type {
     display: none;   
    }
    
    app-quests tr td:first-of-type {
        display: none;
    }
    
    app-actions-pets > div > div > div.d-flex {
        display: flex;
        flex-direction: column;
    }
    
    app-actions-pets > div > div > div.d-flex div {
        width: 100% !important;
    }
    
    app-actions-pets > div > div > div.d-flex {
        padding-bottom: 50px;
    }
    
    app-partner > div .component, app-partner > div .partner-stats-container {
        display: flex !important;
        flex-direction: column !important;
        height: 120% !important;
    }
    app-partner > div .component .partner-skills {
        order: 2;
        padding-bottom: 50px;
    }
    app-partner > div .partner-action-container{
        order: 1;
    }
    app-partner > div .component > div {
        width: 100% !important;
    }
    app-partner > div .partner-action-container > div {
        width: 100% !important;
    }
    
    app-partner .partner-stats-container {
        display: flex !important;
        flex-direction: column;
    }
    
    app-partner .partner-stats-block {
        width: 100% !important;
    }
    
    app-partner .partner-stats-block:last-of-type {
        padding-bottom: 50px;
    }
    
    app-enchanting .crafting-container {
        padding-bottom: 50px;
    }
     
    app-enchanting .crafting-container div:nth-of-type(2) {
        width: 100% !important;
    }
    
     app-craft .crafting-container {
        padding-bottom: 50px;
    }
     
    app-craft .crafting-container div {
        width: 100% !important;
    }
    
    
    /*END*/
    /* Equpiment slots*/
    mat-grid-list div mat-grid-tile:nth-child(5){
        width: 100vw !important;
        z-index: 100;
        height: 4rem !important;
        left: 0px !important;
        top: 0px !important;
        order: 5;
    }
    
    
    app-equipment .d-flex {
        display: block !important;
        white-space: nowrap;
        height: 2rem !important;
        overflow-x: scroll;
    }
    
    app-equipment .d-flex div {
        display: inline-block;
        width: max-content;
    }
    /* END */
    /* Menu */
    mat-grid-list div mat-grid-tile:nth-child(6){
        width: 100vw !important;
        z-index: 100;
        height: 4rem !important;
        left: 0px !important;
        top: 0px !important;
        order: 2;
    }
    
    mat-grid-list div mat-grid-tile:nth-child(6) app-menu .window div.d-flex {
        display: block !important;
        white-space: nowrap;
        overflow-x: scroll;
    }
    
    mat-grid-list div mat-grid-tile:nth-child(6) app-menu .window div.d-flex .ng-star-inserted {
        width: auto;
        margin: 1px;
        display: inline-block;
    }
    
    /* END OF MENU */
    
    /* RECENT DROPS */
    mat-grid-list div mat-grid-tile:nth-child(7){
        width: 100vw !important;
        z-index: 100;
        height: 400px !important;
        left: 0px !important;
        top: 0px !important;
        order: 6;
        
    }
    /* END */
    
    /* CHAT CHANNELS */
    mat-grid-list div mat-grid-tile:nth-child(8){
        width: 100vw !important;
        z-index: 100;
        height: 5rem !important;
        left: 0px !important;
        top: 0px !important;
        order: 7;
    }
    
    mat-grid-list div mat-grid-tile:nth-child(8) button {
        width: max-content !important;
        display: inline-block;
    }
    
    mat-grid-list div mat-grid-tile:nth-child(8) .cdk-drag {
        white-space: nowrap;
        width: max-content !important;
        display: inline-block;
    }
    
    .chat-rooms {
        white-space: nowrap;
        overflow-x: scroll !important;
        height: 3rem;
    }
    
    
    /* END */
    
    /* CHAT */
    mat-grid-list div mat-grid-tile:nth-child(9){
        width: 100vw !important;
        z-index: 100;
        height: 400px !important;
        top: 0px !important;
        left: 0px !important;
        order: 8;
    }
    /* END */
    /* TRACKER */
    mat-grid-list div mat-grid-tile:nth-child(10){
        width: 100vw !important;
        z-index: 100;
        height: 200px !important;
        left: 0px !important;
        top: 0px !important;
        order: 9;
    }
    /* END */
    
    /* MADE BY BLAH GAMES */
    
    app-root ng-component mat-drawer-container mat-drawer-content mat-grid-list {
        height: 90vh !important;
        width: 100vw !important;
        min-width: 0px !important;
    }
    
    
    app-root ng-component mat-drawer-container mat-grid-list+div {
        border-top: 1px solid white;
        text-align: center !important;
        position: fixed;
        left: 0px;
        width: 100vw;
        bottom: 0rem;
        z-index: 20;
        margin: 0px !important;
        min-width: 0px !important;
    }
    
    app-root ng-component mat-drawer-container mat-grid-list+div span       {
        padding: 5px;
    }
    

}

